<html>
<body scroll=none>
    <iframe src="@ViewBag.url"  height="97%"  width="100%" onload="this.iframe[0].contentWindow.document.body.focus();" frameborder="0" marginheight="0" marginwidth="0" id="iframe1" scrolling="auto"  />
</body>
</html>
